<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<%- include('partials/head.ejs') %>

<body>
	<!-- Header -->
	<%- include('partials/menu.ejs') %>

	<!-- product detail -->
	<div class="container products-wrapper">
		<div class="d-flex align-items-centerr">
			<h2 class="products-title"><%=products.product_name%></h2> 
			<p class="product-detail-description">
				<% if (locals.users){ %> 
					<% if (locals.users.id_user == products.users.id_user ){ %> 
						<div>
							<a class="products-title" href="/product/edit/<%= products.id_product %>">EDITAR</a>
							<form action="/product/delete/<%=products.id_product %>" method="POST">
								<button class="buy-now-button" type="submit">BORRAR</button>
							</form>
						</div>
					<% } %>
				<% } %>
			</p>
		</div>
		<div class="product-detail">
			<div class="row">
				<article class="col-12 col-lg-8 product-detail-info">
					<a href="/users/profile/<%= products.users.id_user%>"><%= products.users.username%></a>
					<img src="/images/products/<%= products.image_product %>" alt="" class="product-detail-img">
					<p class="product-detail-description">
						<%= products.description %>
					</p>
				</article>
				<div class="col-12 col-lg-4">
					<section class="comments">
						<% for(let i=0; i<products.comments.length; i++){ %> 
							<article>
								<img class= "imagencirculo" src=<%= products.comments[i].users.avatar%> alt="">
								<div class="data">
									<p class="user">
									<strong> <a class="nombreusuario" href="/users/"><%= products.comments[i].users.username%> </a> </strong>
									<%= products.comments[i].comentario%></p>
									
									<% if(locals.users) { %>
										<% if (locals.users.id_user == products.comments[i].users.id_user){ %> 
										<form action="/product/deleteComment/<%=products.comments[i].id_comment%>" method="POST">
											<button class="btntrash fas fa-trash fa-2x" type="submit"></button>
										</form>
										<% } %>
									<% } %>

								</div>
							</article>
							<% } %>
	
							<!-- </div> -->
							<!-- </article> -->
					</section>
					<form class="form" action="/product/product/<%= products.id_product %>/comment"
						method="POST">
						<input class="form-input" type="text" value="" placeholder="Agregar comentario" name="comentario">
						<button type="submit" class="buy-now-button">AGREGAR COMENTARIO</button>
					</form>
					<hr>
				</div>
			</div>
		</div>
	</div>
	<!-- /product detail -->

	<!-- footer -->
	<%- include('partials/footer.ejs') %>
	<!-- /footer -->

</body>	
</html>