<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->

<%- include('partials/head.ejs') %>

	<body>
		<!-- Header -->
		<%- include('partials/menu.ejs') %>
		<!-- /Header -->

			<!-- Novedades -->
			<div class="container products-wrapper">
				<div class="row">
					<div class="col-12">
						<h2 class="products-title">Resultados de búsqueda</h2>
					</div>
					<!-- Show the "ultimos" products -->
					<% for(let i=0; i< resultado.length ; i++) { %>
						<div class="col-12 col-sm-6 col-lg-3">
							<section class="product-box">
								<a href="/products/product/<%= resultado[i].id_product %>">
									<figure class="product-box_image">
										<img src= "/images/products/<%= resultado[i].image_product %>" alt="cafetera moulinex" class="product-box_image">
									</figure>
									<article class="product-box_data">
										<h2> <%= resultado[i].name_product %>  </h2>
										<p> <%= resultado[i].description %>  </p>
										<p>Comentarios: <%= resultado[i].comments.length %></p>
									</article>
								</a>
							</section>
						</div>
					<% } %> 
					<% if(locals.errors) { %>
						<div class="alerta">
							<p class="error"> <%= errors.message %>  </p>
						</div>
					<% } %> 
					
		<!-- footer -->
		<%- include('partials/footer.ejs') %>
		<!-- /footer -->
	</body>

</html>
